* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --main-first-color: #2f1356;
}
main {
  height: 100vh;
}
.logoMain {
  position: fixed;
  width: 68px;
  height: auto;
  top: 4%;
  left: 2%;
}
.inputText::placeholder {
  color: var(--main-first-color);
  opacity: 0.7;
}
/* Layout */
.flexContainer-Main {
  display: flex;
  height: 100%;
  align-items: stretch;
}
.textInput {
  flex-grow: 3;
  padding: 6%;
}
/* Input de texto */
.inputText {
  width: 100%;
  resize: vertical;
  font-size: 2rem;
  border: none;
  color: var(--main-first-color);
  font-weight: bold;
  resize: none;
  text-transform: lowercase;
}
.inputText:focus {
  outline: none;
}
/* Aviso */
.advice {
  font-size: 0.8rem;
}
.advice::before {
  content: url(images/exclamation.svg);
  vertical-align: middle;
  padding-right: 3px;
}
/* Botones */
.butEncrypt {
  background-color: var(--main-first-color);
  padding: 1.5% 8%;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid var(--main-first-color);
  transition: background-color 300ms ease-in-out;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
}
.butEncrypt:hover {
  background-color: #5d29a5;
  cursor: pointer;
}
.butDencrypt {
  background-color: #d8dfe8;
  padding: 1.5% 8%;
  color: var(--main-first-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid var(--main-first-color);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  -webkit-transition: background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.butDencrypt:hover {
  cursor: pointer;
  background-color: var(--main-first-color);
  color: white;
}
.textDisplay {
  margin: 3%;
  border-radius: 15px;
  box-shadow: 0px 24px 32px 8px #00000014;
}
.shibaImg {
  width: 120px;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textDisplay > h2 {
  font-size: 1.6rem;
  padding: 10% 2% 3% 2%;
  text-align: center;
  width: 370px;
  font-weight: bold;
  color: var(--main-first-color);
}
.textDisplay > p {
  text-align: center;
  width: 300px;
  padding-top: 7%;
}
.spacer {
  flex-grow: 0.42;
}
.buttonArea > button {
  background-color: #d8dfe8;
  padding: 1rem 0;
  width: 300px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out,
    background-color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.buttonArea > button:hover {
  cursor: pointer;
  background-color: var(--main-first-color);
  color: white;
}
